.body2{
    background-color: #fafafa;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0;
}

.dropdwn{
    margin: 0;
    margin-right: 0;
    position: relative;
    background:#2c3e50;
    
}
.meny{
    margin-right: 100%;
    position:relative;
    border-radius: 1px;

}

nav {
    height: 70px;
    background: #2c3e50;
    box-shadow: 0 10x 15px rgba(0,0,0,0.1);
    padding: 2px;
    position: relative;
}

.logo {
    padding: 1px 0 0 100px;
    width: 140px;
    margin-top: 6px;
    height: auto;
    float: left;
    align-items: center;
}
.shop-cart{
    float: right;
    width: 34px;
    color: white;
    height: auto;
    margin-right: 10px;
    background: fixed;
}




nav ul {
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}

nav ul li {
    background: #2c3e50;
    position: relative;
    list-style: none;
    display: inline-block;
}
.search {
    padding: 6px;
    margin-left: 39%;
    margin-top:15px;
    align-items: center;
    border-radius: 5px;
    font-size: 15px;
    width: 22%;
    position: absolute;
}


  
nav ul li a{
    display: block;
    padding: 0 15px;
    color: #dedede;
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;
}

nav ul li a:hover{
    background: #243342;
}

nav ul ul {
    position: absolute;
    top: 60px;
    display: none;

}

nav ul li:hover > ul{
    display: block;
}
nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}
nav ul ul ul li{
    position:relative;
    top: -60px;
    left: 150px
}

@media all and (max-width: 390px){
    .logo{
        padding: 10px 0 0 10px;
        width: 80px;
        margin-top: 6px;
        height: auto;
        float: left;
        align-items: center;
    }
    .search{
        padding: 6px;
        margin-left: 29%;
        margin-top:20px;
        align-items: center;
        border-radius: 5px;
        font-size: 10px;
        width: 15%;
        position: absolute;
    }
    .meny{
        margin-left: 100%;
        position:relative;
        border-radius: 1px;
    }
    .shop-cart{
        float: right;
        width: 25px;
        color: white;
        height: auto;
        margin-right: 2px;
        background: fixed;
    }
}
