body{
    margin: 0;
    font-family: sans-serif;
    background: rgb(255, 255, 255);
}
h1{
    text-align: center;
    font-size: 45px;
    font-family: sans-serif;
}
h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 40px;
}
a{
    text-decoration: none;
}.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.Forside{
    width: 20%;
    margin: 25px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 80px;
    box-shadow: 0 14px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background: #f2f2f2;
}
.Forside:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}
img{
    width: 50%;
    height: 280px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}
h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
li{
    padding-top: 5px;
}
.fa{
    font-size: 26px;
    transition: .4s;
    margin: 3px;
}
.checked{
    color: gold;
}
.fa:hover{
    transform: scale(1.3);
    transition: .6s;
}
button{
    text-align: center;
    font-size: 26px;
    color: #e9ecec;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.info-1{
    background: #2183a2;
}
.info-1:hover{
    background-color: rgba(226, 96, 243, 0.842);
}
.info-2{
    background: #2183a2;
}
.info-2:hover{
    background-color: rgba(226, 96, 243, 0.842);
}
.info-3{
    background: #2183a2;
}
.info-3:hover{
    background-color: rgba(226, 96, 243, 0.842);
}   
.tjenester{
    width: relative;
    max-width: 1500px;
    padding: 6px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 3.5px solid #2183a2;
    background: white;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.tjenester:hover{
    background-color: #2183a2;
}
.Skjerm{
    width: 400px;
    padding: 6px 0;
    max-width: 400px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 3.5px solid #2183a2;
    background: white;
    align-items: auto;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.Skjerm:hover{
    background-color: #2183a2;
}
.Batteri{
    width: 400px;
    max-width: 400px;
    padding: 6px 0; 
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 3.5px solid #2183a2;
    background: white;
    align-items: auto;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.Batteri:hover{
    background-color: #2183a2;
}
.Reperasjon{
    width: 400px;
    padding: 6px 0;
    max-width: 400px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 3.5px solid #2183a2;
    background: white;
    align-items: auto;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.Reperasjon:hover{
    background-color: #2183a2;
}
@media(max-width:1920px){
    .Forside{
        width: 50%;

    }
}
@media(max-width:1080px){
    .Forside{
        width: 100%;

    }
}
